---
import HeavyComponent from "../components/HeavyComponent";
import Layout from "../layout/Layout.astro";
---

<Layout>
  <h1>Welcome to Astro</h1>
  <p>
    Astro is a new kind of static site builder that delivers lightning-fast
    performance with a modern developer experience.
  </p>
  <p>
    <a href="https://docs.astro.build" target="_blank">Read the documentation</a
    >
  </p>
  <div style="margin-top: 2000px;">
    <HeavyComponent client:visible />
  </div>
</Layout>
